{% extends 'task/base.html' %}
{% block title %}
Tasks List
{% endblock title %}

{% block content %}
<div style="margin-top:20px"></div>
{% for task in object_list %}
<form action="{% url 'delete-task' task.id %}" method="POST">
    {% csrf_token %}
    <div class="mx-auto"
        style="max-width: 50rem; overflow-wrap: break-word; border: 1px solid black; border-radius: 7px; padding:20px; margin-top:20px">
        {% if task.completed %}
        <strike>
            <h2 class="text-dark">{{ task.title }}</h2>
        </strike>
        <div style="display: flex; justify-content: flex-end;">
            <button type="submit" class="btn btn-outline-dark" name="Return" style="width: 6rem;">Return</button>
            <button type="submit" class="btn btn-outline-dark ml-3 " name="Delete" style="width: 6rem;">Delete</button>
        </div>




        {% else %}

        <h2 class="text-decoration-none text-dark">{{ task.title }}</h2>
        <div style="display: flex; justify-content: flex-end;">
            <button type="submit" class="btn btn-outline-dark" name="Done" style="width: 6rem;">Done</button>

            <button type="submit" class="btn btn-outline-dark ml-3 " name="Delete" style="width: 6rem;">Delete</button>
        </div>



        {% endif %}

    </div>
</form>
{% endfor %}
{% endblock content %}